.building {
    &.bridge {
        $primary-color: #de6825;
        position: relative;
        overflow-x: hidden;
        -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.6)), to(black));
        .suspension {
            position: absolute;
            overflow: hidden;
            top: 0;
            margin-top: 13px;
            min-height: 280px;
            width: 60%;
            > * {
                position: absolute;
                border: 3px solid $primary-color;
                width: 280px;
                height: 280px;
                border-radius: 300px;
                left: -171px;
                top: -140px;

                &:before {
                    position: absolute;
                    content: ' ';
                    display: inline-block;
                    border-radius: 200px;
                    border: 2px solid #fef5d2;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                }
            }
            .right {
                $size-offset: 70px;
                width: 280px + $size-offset;
                height: 280px + $size-offset;
                transform: translate(-($size-offset/2), -($size-offset/2));
            }
            &.back {
                transform: rotateY(180deg) translateX(-160px);
                width: 38%;

                > * {
                    left: -189px;
                }
            }
        }
        .pillars {
            position: relative;
            display: inline-block;

            transform: translateX(113px);

            .pillar {
                display: inline-block;
            }
            .section {
                position: relative;
                right: 0;
                border: 4px solid $primary-color;
                border-bottom: none;
                background-color: #ecac77;
                margin-bottom: 1px;
                &:nth-child(1) {
                    height: 24px;
                    width: 2px;
                }
                &:nth-child(2) {
                    height: 24px;
                    width: 4px;
                }
                &:nth-child(3) {
                    height: 100px;
                    width: 5px;
                }
                &:after {
                    position: absolute;
                    content: ' ';
                    display: inline-block;

                    width: 50%;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #e79657;
                }
            }
            .point {
                width: 10px;
                &:after {
                    content: ' ';
                    display: block;
                    width: 6px;
                    background-color: $primary-color;
                    height: 4px;
                    transform: translateX(2px);
                    margin-bottom: 2px;
                }

                &:before {
                    content: ' ';
                    display: block;
                    width: 2px;
                    background-color: $primary-color;
                    height: 5px;
                    margin: 0 4px;
                    margin-bottom: 2px;
                }
            }
            .left {
                transform: rotateY(180deg);
            }
            .right {
                margin-left: 21px;
            }
            .connector {
                $starting-y-loc: 13px;
                box-sizing: border-box;
                position: absolute;
                top: $starting-y-loc;
                left: (5px+8px);
                right: (5px+8px);
                //height: 15px;
                border: 4px solid $primary-color;
                border-left: none;
                border-right: none;
                background-color: #ecac77;

                padding: 1px;

                .grid-lines {
                    $gradient-primary-color: lighten($primary-color, 10);
                    background: repeating-linear-gradient(90deg, #ecac77, #ecac77 3px, $gradient-primary-color 3px, $gradient-primary-color 4px);
                    height: 6px;
                    content: ' ';
                }
                &.two {
                    top: $starting-y-loc + 24px + 5px;
                }
                &.three {
                    top: $starting-y-loc + (24px + 5px) * 2;
                }
                &.four {
                    top: $starting-y-loc + (24px + 5px) * 3 + 8px;
                }
            }
        }
    }
    &.tower {
        $primary-color: #908579;
        $interior-color: #d7d7d9;
        $grid-line-color: lighten($primary-color, 22);

        @function gradient-lines($list-of-lines...) {
            $px-loc: 0px;
            $lines: ();
            @each $line-def in $list-of-lines {
                $lines: append($lines, unquote('#{nth($line-def, 1)} #{$px-loc},'));
                $px-loc: $px-loc + nth($line-def, 2);
                $lines: append($lines, unquote('#{nth($line-def, 1)} #{$px-loc},'));
            }
            $lines: append($lines, unquote('transparent #{$px-loc}'));
            @return $lines;
        }

        position: relative;
        .pinnacle {
            width: 2px;
            height: 22px;
            margin: 0 auto 1px;
            background-color: $primary-color;
        }
        .floor {
            margin: 0 auto 1px;
            border: 3px solid $primary-color;
            background-color: $interior-color;
            &.executive {
                width: 8px;
                height: 22px;
                border: 3px solid $primary-color;
                border-bottom: none;

                .grid-line {
                    margin: 2px auto 0;
                    width: 2px;
                    height: 19px;
                    background-color: $grid-line-color;
                }
            }
            &.flat-1 {
                width: 24px;
                height: 5px;
                border: 3px solid $primary-color;
                border-bottom: none;

                .grid-lines {
                    margin: 3px auto 0;
                    height: 2px;
                    background-color: $grid-line-color;
                }
            }
            &.flat-2 {
                width: 35px;
                height: 4px;
                border: 3px solid $primary-color;
                border-bottom: none;

                .grid-lines {
                    width: 21px;
                    margin: 2px auto 0;
                    height: 2px;
                    background: repeating-linear-gradient(90deg, gradient-lines(
                        (transparent 3px),
                        ($grid-line-color 3px)
                    ));
                }
            }
            &.main {
                width: 39px;
                height: 110px;
                border: 3px solid $primary-color;
                border-bottom: none;

                .grid-lines {
                    margin-top: 4px;
                    height: 100%;
                    background: repeating-linear-gradient(90deg, transparent, transparent 3px, $grid-line-color 3px, $grid-line-color 6px);
                    background: repeating-linear-gradient(90deg, gradient-lines(
                        (transparent 3px),
                        ($grid-line-color 3px)
                    ));
                }
            }
        }
        .child {
            $outline-color: #eff3f9;
            position: absolute;
            bottom: 0;
            line-height: 0;
            > * {
                border: 2px solid $outline-color;
                border-bottom: none;
                .container {
                    content: ' ';
                    display: block;
                    overflow: hidden;
                    padding-top: 2px;
                    border: 3px solid $primary-color;
                    border-bottom: none;
                    background-color: $interior-color;
                }
            }
            .top {
                display: inline-block;
                margin-left: 2px;
                .container {
                    width: 16px;
                    height: 24px;
                }
                .grid-lines {
                    height: 100%;
                    background: repeating-linear-gradient(90deg, gradient-lines(
                        (transparent 2px),
                        ($grid-line-color 2px),
                        (transparent 2px),
                        ($grid-line-color 4px),
                        (transparent 2px),
                        ($grid-line-color 2px),
                        (transparent 2px)
                    ));
                }
            }
            .bottom {
                .container {
                    width: 20px;
                    height: 64px;
                }
                .grid-lines {
                    height: 100%;
                    background: repeating-linear-gradient(90deg, gradient-lines(
                        (transparent 2px),
                        ($grid-line-color 4px),
                        (transparent 3px),
                        ($grid-line-color 2px),
                        (transparent 3px),
                        ($grid-line-color 4px),
                        (transparent 2px)
                    ));
                }
            }

            $distance-offset-edge: 97px;

            &.left {
                left: $distance-offset-edge;
                .top, .bottom {
                    border-right: none;
                }
            }
            &.right {
                right: $distance-offset-edge;
            }
        }
    }
    .fog {
        position: relative;
        overflow: hidden;
        margin-top: -55px;
        height: 55px;
        .layer {
            position: absolute;
            border-radius: 500px;
            width: 300px;
            height: 300px;
            background-color: white;
            opacity: 0.6;
            transform-origin: top center;

            &:nth-child(1) {
                transform: translate(-150px, 0) scaleY(0.4);
            }
            &:nth-child(2) {
                transform: translate(-110px, 18px) scaleY(0.6);
                opacity: 0.8;
            }
            &:nth-child(3) {
                transform: translate(-40px, 12px) scaleY(0.4);
            }
            &:nth-child(4) {
                transform: translate(70px, 0) scaleY(0.4);
            }
            &:nth-child(5) {
                transform: translate(100px, 10px) scaleY(0.4);
                opacity: 0.9;
            }
        }
    }
}
