.building {
    &.bridge {
        $primary-color: #de6825;
        position: relative;
        //-webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,1)));
        .suspension {
            position: absolute;
            top: 0;
            & {
                overflow: hidden;
                min-height: 280px;
                width: 60%;
                > * {
                    position: absolute;
                    border: 3px solid $primary-color;
                    width: 280px;
                    height: 280px;
                    border-radius: 300px;
                    left: -170px;
                    top: -140px;

                    &:before {
                        position: absolute;
                        content: ' ';
                        display: inline-block;
                        border-radius: 200px;
                        border: 2px solid #fef5d2;
                        top: 0px;
                        left: 0px;
                        bottom: 0px;
                        right: 0px;
                    }
                }
                .right {
                    $size-offset: 70px;
                    width: 280px + $size-offset;
                    height: 280px + $size-offset;
                    transform: translate(-($size-offset/2), -($size-offset/2));
                }
            }
            &.back {
                transform: rotateY(180deg) translateX(-160px);
                width: 38%;

                > * {
                    left: -189px;
                }
            }
        }
        .pillars {
            position: relative;
            display: inline-block;

            transform: translateX(113px);

            .pillar {
                display: inline-block;
            }
            .section {
                position: relative;
                right: 0;
                border: 4px solid $primary-color;
                border-bottom: none;
                background-color: #ecac77;
                margin-bottom: 1px;
                &:nth-child(1) {
                    height: 24px;
                    width: 2px;
                }
                &:nth-child(2) {
                    height: 24px;
                    width: 4px;
                }
                &:nth-child(3) {
                    height: 100px;
                    width: 5px;
                }
                &:after {
                    position: absolute;
                    content: ' ';
                    display: inline-block;

                    width: 50%;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #e79657;
                }
            }
            .left:before, .right:before {
                position: absolute;
                content: ' ';
                display: inline-block;
                top: -5px;
                width: 6px;
                background-color: $primary-color;
                height: 4px;
                transform: translateX(2px);
            }
            .left:after, .right:after {
                position: absolute;
                content: ' ';
                display: inline-block;
                top: -11px;
                width: 2px;
                background-color: $primary-color;
                height: 5px;
                margin: 0 4px;
            }
            .left {
                transform: rotateY(180deg);
            }
            .right {
                margin-left: 22px;
            }
        }
    }
}
