
$san-fran-color: #de6825;
$new-york-color: #908579;
.forecast {
    text-align: center;
    position: relative;
    z-index: 20;

    .city {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 4px;
    }
    .today {
        text-transform: uppercase;
        font-size: 8px;
        letter-spacing: 2px;
        color: #aaa;

        margin-top: 10px;
        margin-bottom: 20px;
        > * {
            display: inline-block;
            border-right: 1px solid #aaa;
            padding: 0 4px 0 2px;

            &:last-child {
                border-right: none;
            }
        }
    }

    .five-day {
        > * {
            margin: 0 9px;
            vertical-align: middle;
        }
        .minus-2, .plus-2 {
            font-size: 11px;
        }
        .minus-1, .plus-1 {
            font-size: 22px;
        }
        .now {
            position: relative;
            font-size: 36px;
            &:after {
                position: absolute;
                content: ' ';
                display: inline-block;
                top: -3px;
                height: 6px;
                width: 6px;
                border: 2px solid transparent;
                border-radius: 6px;
            }
        }
    }
}


&.san-fran .forecast {
    color: $san-fran-color;
    .five-day {
        .now:after {
            border-color: $san-fran-color;
        }
    }
}
&.new-york .forecast {
    color: $new-york-color;
    .five-day {
        .now:after {
            border-color: $new-york-color;
        }
    }
}
