doctype html
head
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
  link(rel="stylesheet", href="index.css")
body
    .container
        .card.san-fran
            .skyline
                .sun.shine
                .cloud.small
            .building.bridge
                .suspension.back
                    .left
                    .right
                .pillars
                    .pillar.left
                        .point
                        .sections
                            .section
                            .section
                            .section
                    .pillar.right
                        .point
                        .sections
                            .section
                            .section
                            .section
                    .connector.one
                        .grid-lines
                    .connector.two
                        .grid-lines
                    .connector.three
                        .grid-lines
                    .connector.four
                        .grid-lines
                .suspension.front
                    .left
                    .right
                .fog
                    .layer
                    .layer
                    .layer
                    .layer
                    .layer
            .forecast
                .city san francisco
                .today
                    .dow monday
                    .mon-dd sep 12
                    .time 12:34
                .five-day
                    span.minus-2 22
                    span.minus-1 26
                    span.now 29
                    span.plus-1 28
                    span.plus-2 30
        .card.new-york
            .skyline
                .sun
                .cloud.over-sun
                .cloud.small
            .building.tower
