body {
    background-color: #f1efee;
    font-family: 'Montserrat', sans-serif;
}
.card {

    position: relative;

    display: inline-block;
    vertical-align: top;

    width: 260px;
    height: 400px;

    margin: 20px;

    border-radius: 20px;

    box-shadow: 0 0 24px rgba(0,0,0,0.075);

    @import './skyline';
    @import './buildings';
    @import './forecast';

    &:after {
        position: absolute;
        content: ' ';
        display: block;
        background-color: white;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 130px;
    }

    &.san-fran {
        background-color: #fef5d2;
    }

    &.new-york {
        background-color: #eff3f9;

        .sun {
            margin-left: 46px;
            transform-origin: top right;
            transform: scale(0.8, 0.8);
        }
        .cloud.over-sun {
            top: 75px;
            left: 20px;
        }
    }
}
