doctype html
head
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
  link(rel="stylesheet", href="index.css")
body
    .container
        .card.san-fran
            .skyline
                .sun.shine
                .cloud.small
            .building.bridge
                .suspension.back
                    .left
                    .right
                .pillars
                    .pillar.left
                        .section
                        .section
                        .section
                    .pillar.right
                        .section
                        .section
                        .section
                    .connector
                    .connector
                    .connector
                    .connector
                .suspension.front
                    .left
                    .right
        .card.new-york
            .skyline
                .sun
                .cloud.over-sun
                .cloud.small
            .building.tower
