doctype html
head
  link(rel="stylesheet", href="index.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Catamaran:300,400,700")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
.container
  .background-stripe
    .dark
      .light
  .visa-container
    .bg-visa visa
    .item-details
      .item-owner everlane
      .item-description The Twill Snap Backpack One
    .total
      .title order total
      .price 87.41
    .card
      .hover-text
        .search.zmdi.zmdi-search
        span mouse over for details
      .buy-now
        span buy now
      .item
        .image
          img(src="https://everlane-2.imgix.net/i/ecd9bb19_9733.jpg?w=120&h=120&q=65&dpr=1")
        .rating
          .star.zmdi.zmdi-star
          .star.zmdi.zmdi-star
          .star.zmdi.zmdi-star
          .star.zmdi.zmdi-star
          .star.zmdi.zmdi-star
          .reviews see all reviews
      .credit-card-details
        .name
          label name
          input(value="Hannah Cochran")
        .card-number
          label card number
          input(value="0232 - 9310 - 8293 - 8131")
        .expiration
          label expires
          .select-wrapper.month
            select
              option(selected) July
          .select-wrapper
            select
              option(selected) 2018
        .ccv
          label ccv
          input(value="832")
      .persist-info
        .check
          .zmdi.zmdi-check
        span.label Save my information for later
