doctype html
head
  link(rel="stylesheet", href="index.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
body
.container
  .bg-dark
  .btn-container
    .btn
      .btn-icon
      .menu-items
        span Home
        span Works
        span About
        span Contact
